[submodule "Libraries/libSDL2pp"]
	path = Libraries/libSDL2pp
	url = git@github.com:libSDL2pp/libSDL2pp.git
[submodule "Libraries/readerwriterqueue"]
	path = Libraries/readerwriterqueue
	url = git@github.com:cameron314/readerwriterqueue.git
[submodule "Libraries/CircularBuffer"]
	path = Libraries/CircularBuffer
	url = git@github.com:Net5F/CircularBuffer.git
[submodule "Libraries/SDL_net"]
	path = Libraries/SDL_net
	url = git@github.com:SDL-mirror/SDL_net.git
[submodule "Libraries/bitsery"]
	path = Libraries/bitsery
	url = git@github.com:fraillt/bitsery.git
[submodule "Libraries/entt"]
	path = Libraries/entt
	url = git@github.com:skypjack/entt.git
[submodule "Libraries/AmalgamUI"]
	path = Libraries/AmalgamUI
	url = git@github.com:Net5F/AmalgamUI.git
[submodule "Libraries/nativefiledialog-extended"]
	path = Libraries/nativefiledialog-extended
	url = git@github.com:btzy/nativefiledialog-extended.git
[submodule "Libraries/QueuedEvents"]
	path = Libraries/QueuedEvents
	url = git@github.com:Net5F/QueuedEvents.git
[submodule "Libraries/tracy"]
	path = Libraries/tracy
	url = git@github.com:wolfpld/tracy.git
[submodule "Libraries/lz4"]
	path = Libraries/lz4
	url = git@github.com:Net5F/lz4.git
[submodule "Libraries/jthread"]
	path = Libraries/jthread
	url = https://github.com/StirlingLabs/jthread.git
