[submodule "Libraries/libSDL2pp"]
	path = Libraries/libSDL2pp
	url = git@github.com:libSDL2pp/libSDL2pp.git
[submodule "Libraries/readerwriterqueue"]
	path = Libraries/readerwriterqueue
	url = git@github.com:cameron314/readerwriterqueue.git
[submodule "Libraries/CircularBuffer"]
	path = Libraries/CircularBuffer
	url = git@github.com:Net5F/CircularBuffer.git
[submodule "Libraries/Catch2"]
	path = Libraries/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "Libraries/SDL_net"]
	path = Libraries/SDL_net
	url = git@github.com:SDL-mirror/SDL_net.git
[submodule "Libraries/bitsery"]
	path = Libraries/bitsery
	url = git@github.com:fraillt/bitsery.git
[submodule "Libraries/entt"]
	path = Libraries/entt
	url = git@github.com:skypjack/entt.git
[submodule "Libraries/Remotery"]
	path = Libraries/Remotery
	url = git@github.com:Net5F/Remotery.git
[submodule "Libraries/json"]
	path = Libraries/json
	url = git@github.com:nlohmann/json.git
[submodule "Libraries/AmalgamUI"]
	path = Libraries/AmalgamUI
	url = git@github.com:Net5F/AmalgamUI.git
[submodule "Libraries/nativefiledialog-extended"]
	path = Libraries/nativefiledialog-extended
	url = git@github.com:btzy/nativefiledialog-extended.git
[submodule "Libraries/QueuedEvents"]
	path = Libraries/QueuedEvents
	url = git@github.com:Net5F/QueuedEvents.git
[submodule "Libraries/zlib-ng"]
	path = Libraries/zlib-ng
	url = git@github.com:zlib-ng/zlib-ng.git
